
#centerPanel{width:100%;height:100%;
    margin-left:0; margin-right:0px;float: center ; background-size:100% 100%;background-size:100% auto;
    margin-top:200px;
    text-align:center;
}

#centerPanel2{width:100%;height:100%;
    margin-left:0; margin-right:0px;float:center; background-size:100% 100%;background-size:100% auto;
    margin-top:50px;
    text-align:center;
}

#loginPanel{width:470px;height:370px;;;padding-left:5px;margin: 0 auto;float:right;background-color:white;
    margin-right:150;
    margin-top:150px;
    padding-top:60px;}

#centerPanel11{width:100%;height:650;background:url("/static/images/blue.jpg") no-repeat;
    margin-left:0; margin-right:0;float:left; background-size:100% 100%;background-size:100% auto;
    margin-top:0px;}


.input_control{
    width:360px;
    margin:20px auto;
}

.input_control2{
    width:700px;
    margin:20px auto;
}


.input_control3{
    width:700px;
    height: 300px;
    margin:20px auto;
}

.input_control4{
    width:40px;
    height: 28px;
    margin:10px auto;
}

textarea{
    box-sizing: border-box;
    text-align:left;
    font-size:1.4em;
    height:2.7em;
    border-radius:4px;
    border:1px solid #c8cccf;
    color:#6a6f77;
    -web-kit-appearance:none;
    -moz-appearance: none;
    display:block;
    outline:0;
    padding:0 1em;
    text-decoration:none;
    width:100%;
    height :300px;
    resize:none;
}


input[type="text"],#btn1,#btn2{
    box-sizing: border-box;
    text-align:left;
    font-size:1.4em;
    height:2.7em;
    border-radius:4px;
    border:1px solid #c8cccf;
    color:#6a6f77;
    -web-kit-appearance:none;
    -moz-appearance: none;
    display:block;
    outline:0;
    padding:0 1em;
    text-decoration:none;
    width:100%;
    height :50px;
}

input[type="submit"] {
    -moz-user-select: none;
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px 2px 2px 2px;
    color: #ffffff;
    cursor: default;
    font-family: arial,sans-serif;
    font-size:1.4em;
    font-weight: bold;
    height: 50px;
    line-height: 20px;
    background-color:rgb(0,130,255);
    min-width: 360px;
    padding: 0 0px;
    text-align: center;
}
input[type="submit"]:hover {
    background-color:rgb(0,75,255);
    color: #ffffff;
    background-image: -moz-linear-gradient(center top , #F8F8F8, #F1F1F1);
    border: 1px solid #C6C6C6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

}
input[type="submit"]:focus {
    border: 1px solid #4D90FE;
    outline: medium none;
}

button {
    -moz-user-select: none;
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px 2px 2px 2px;
    color: #ffffff;
    cursor: default;
    font-family: arial,sans-serif;
    font-size:1.2em;
    font-weight: bold;
    height: 30px;
    line-height: 21px;
    background-color:rgb(0,130,255);
    min-width: 80px;
    padding: 0 0px;
    text-align: center;
}
button:hover {
    background-color:rgb(0,75,255);
    color: #ffffff;
    background-image: -moz-linear-gradient(center top , #F8F8F8, #F1F1F1);
    border: 1px solid #C6C6C6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

}
button:focus {
    border: 1px solid #4D90FE;
    outline: medium none;
}


input[type="reset"] {
    -moz-user-select: none;
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px 2px 2px 2px;
    color: #ffffff;
    cursor: default;
    font-family: arial,sans-serif;
    font-size:1.4em;
    font-weight: bold;
    height: 50px;
    line-height: 20px;
    background-color:rgb(0,130,255);
    min-width: 360px;
    padding: 0 0px;
    text-align: center;
}
input[type="reset"]:hover {
    background-color:rgb(0,75,255);
    color: #ffffff;
    background-image: -moz-linear-gradient(center top , #F8F8F8, #F1F1F1);
    border: 1px solid #C6C6C6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

}
input[type="reset"]:focus {
    border: 1px solid #4D90FE;
    outline: medium none;
}


input[type="text"]:focus{
    border:1px solid #ff7496;
}



.font-yahei2 {
    font-family:‘Microsoft YaHei‘,Tahoma;
    font-size :30px;
    bold;
    color:black;
}

.font-yahei3 {
    font-family:‘Microsoft YaHei‘,Tahoma;
    font-size :21px;
    bold;
    color:black;
}

.font-yahei1 {
    font-family:‘Microsoft YaHei‘,Tahoma;
    font-size :20px;
    color:white;
}


#wrap{
    padding-left:20px;
    padding-top:20px;
    margin-top:100px;
    margin-right:150px;
    width:415px;
    height:450px;
    background-color:white;
    float:right;
}

#result{

    float:left;
    height:60px;
    width:390px;
    border:solid 1px;
    margin-bottom:1px;

    background-color:white;
}

#op{

    height:310px;
    width:390px;



}
