<?xml version="1.0" encoding="utf-8"?>
<html>

	<head>
		<title>
			teacher
		</title>

		<link type ="text/css" rel = "stylesheet" href = "/static/css/design.css">
		<style type="text/css" >
			a:link{text-decoration: none;color: white}

			a:active{text-decoration:none}

			a:hover{text-decoration:none;color: white}

			a:visited{text-decoration: none;color: white}

			
			*{
				margin: 0;
				padding: 0;

			}
			
			html{
				margin: 0;
				padding:0px;
				height:100%;
			
			}
			body{
				
				background-size:cover;
				background-attachment:fixed;
				
				

		</style>

		</head>
	<body>
		

			
	<div id = 'menu'>

		
		
		<ul>

			<li><a href="" ><p style="font-size:20px;color:rgb(230,230,230);">教师</p></a></li>


			
		</ul>
	</div>
	<div id = 'centerPanel'>


			<div class = 'input_control'>
				<form method="get" action="/teacher/addStudentOption">
					<input type="submit"  value="添加学生" />
				</form>
			</div>
			<div class = 'input_control'>
				<form method="get" action="/teacher/queryHomeworkOption">
					<input type="submit" value="查询作业" />
				</form>
			</div>
			<div class = 'input_control'>
				<form method="get" action="/teacher/addHomeworkOption">
					<input type="submit"   value="添加作业" />
				</form>
			</div>
			<div class = 'input_control'>
				<form method="get" action="/teacher/deleteStudentJump">
					<input type="submit"   value="删除学生" />
				</form>
			</div>


		</form>
		</div>
		
		
	</div>
	</div>
	
	
	
	
		
		
		
		
	
	</body>
		
	
	
</html>